// CUSTOMER-SLIDER

.swiper {
    position: absolute;
    top: 10%;
    max-width: 95%;
    height: 380px;
    z-index: -1;
    .slide-1 {
            position: absolute;
            left: 6%;
            bottom: 20%;
            z-index: -1;
        }
    
        .slide-2 {
            position: absolute;
            left: 5.5%;
            bottom: 16%;
            p {
                    width: 230px;
                    height: 85px;
                    padding: 20px;
                    padding-bottom: 60px;
                }
        }

        .slide-3 {
            position: absolute;
            bottom: 20%;
            left: 5%;
            p {
                    width: 230px;
                    height: 107px;
                    padding: 20px;
                    padding-bottom: 35px;
                }
        }
    .swiper-slide {
            background: white;
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3em;
            transition: 0.3s;
            width: 400px;
            z-index: -1;
        }
    .swiper-slide:hover {
            box-shadow: 0 0 10px 2px grey;
            transform: scale(0.95);
        }

}

// Customers are saying...

.customers {
    height: 591px;
    max-width: 100%;
    background-color: white;
    position: relative;
    .customers-flex-column {
            position: absolute;
            right: 90%;
            margin-right: 90px;
            padding-left: 20px;
            margin-top: 110px;
        }
    .avatar-flex {
            display: flex;
            position: relative;
            flex-grow: 1;
            margin-top: 10px
        }
    .customers-avatar {
            position: absolute;
            margin-top: 98px;
            right: 95%;
            margin-left: 80px;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background: url("../img/avatar_customers.png")
        }
    .customers-avatar::before {
            position: absolute;
            content: "";
            bottom: 2%;
            left: 1%;
            border: 15px solid transparent;
            border-top: 15px solid $blue;
            padding-bottom: 65px;
    }
    p {
            width: 253px;
            height: 127px;
            background: $blue;
            border-radius: 5px;
            padding: 20px;
            color: white;
            font-size: 16px;
            line-height: 1.6
        }
    h2 {
            font-size: 14px;
            color: $customers-profession;
        }
    h3 {
            font-size: 20px;
            width: 100px;
        }
    .customers-divider {
            background: $blue;
            width: 64px;
            height: 2px;
            position: absolute;
            left: 36%;
            top: 23%;
        }
    h1 {
            text-transform: uppercase;
            font-size: 36px;
            text-align: center;
            padding-top: 60px;
        }
}

