/* HEADER */

.header {
    position: relative;
    height: 72px;
    max-width: 100%;
    background: black;

    nav {
            text-align: right;
            font: $font-header;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 0.69;
            display: flex;
            justify-content: space-between;
            max-width: 500px;
            align-items: flex-end;
            position: absolute;
            right: 1%;
            top: 26px;
        a {
                text-decoration: none;
                color: #FFF;
            }
        p {
                margin-right: 40px;
                text-align: center;
                transition: 0.5s ease-out;
            }
                        p:hover {
                            padding-bottom: 25px;
                            border-bottom: $orange 3px solid;
                            opacity: 1;
                            // cursor:none;
                            cursor: pointer
                        }
        }
        
}

// NAV prikabinimas

#fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

// a img {
//     color: orange;
//     margin-left: 10%;
//     height: 65px;
// }

// nav {
//     text-align: right;
//     font: $font-header;
//     letter-spacing: 0px;
//     color: #FFFFFF;
//     opacity: 0.69;
//     display: flex;
//     justify-content: space-between;
//     max-width: 500px;
//     align-items: flex-end;
//     position: absolute;
//     right: 1%;
//     top: 26px;
// }

// nav a {
//     text-decoration: none;
//     color: #FFF;
// }

// nav p {
//     margin-right: 40px;
//     text-align: center;
//     transition: 0.5s ease-out;
// }

// nav p:hover {
//     padding-bottom: 25px;
//     border-bottom: $orange 3px solid;
//     opacity: 1;
//     // cursor:none;
//     cursor: pointer
// }

