// MEDIA 
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++
// 1600PX
@media (max-width:1600px) {

    // Socials
    .img-socials {
        right: 10%;
    }

    .img-socials a img {
        margin-right: 80px;
    }

    .tabs-buttons {
        right: 90%;
    }

    .tabs-text-column {
        display: flex;
        flex-direction: column;
        margin-top: 120px;
        position: absolute;
        left: 12%;
        padding-right: 20px
    }
}
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++
// 1150PX
@media (max-width:1150px) {
    .features2-icon {
        position: absolute;
        left: 0.25%;
        top: 40%;
        padding-right: 40px;
        margin-left: 15px;
    }

    .customers p {
        padding-right: 1px;
        padding-left: 2px;
    }

    .footer-icons img {
        padding-right: 20px;
    }

    .customers-flex-column {
        padding-left: 10px;
    }

    .contact-form {
        left: 28%
    }

    #customers {
        padding-top: 50px;
        margin-top: -50px;
    }

    #pricing {
        padding-top: 60px;
        margin-top: -60px;
    }

    .img-socials {
        right: 8%;
    }

    .img-socials a img {
        margin-right: 40px;
    }

    // PRICING
    .name img {
        left: 34%;
    }

    .professional {
        max-width: 30%
    }

    .pricing-background header {
        padding-top: 15px;
        padding-bottom: 20px;
    }

    // tabs

    .tabs-text-column {
        left: 23%;
        margin-top: 70px;
    }

    .tabs-buttons {
        right: 79%;
        margin-top: -60px;
    }

    .tabs-images {
        flex-direction: row;
        margin-top: 410px;
        left: 0;
        margin-left: -20px;
    }

    .tabs-img3 {
        height: 178px;
        width: 260px;
    }
}
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++
// 840PX +++++++++++++++++++++++++++++++++++++++++++++
@media (max-width:840px) {

    // FEATURES
    #features {
        margin-top: 70px;
        padding-top: -100px;
    }

    .features {
        height: 900px;
        background-repeat: cover;
    }

    .features-tab1 {
        justify-content: center;
        align-items: center;
        right: 8%;
        padding-left: 150px;
        top: 2%;
    }

    .features-tab2 {
        height: 425px;
        width: 360px;
        right: 25%;
        bottom: 2%;
    }

    .features-tab1 button {
        margin-top: 20px;
        transition: 0.6s ease-out;
        cursor: pointer;
    }

    // SOCIALS
    .socials {
        max-width: 100%;
        height: 210px;
        background-color: white;
        display: flex;
    }

    .flex-socials {
        text-align: center;
    }

    .img-socials {
        justify-content: center;
        right: 5%;
        margin-top: 120px;
    }

    .img-socials a img {
        margin-right: 60px;
        transition: 0.2s ease-out;
    }

    // #features-cheshire{
    //   display:none;
    // }
    #contact {
        padding-top: 60px;
    }

    #customers {
        padding-top: 80px;
    }

    #tabs {
        // margin-top: 60px;
        padding-top: 60px;
    }

    .tabs {
        height: 800px;
    }

    .tabs-text-column {
        margin-top: 140px;
        left: 0%;
    }

    .tabs-text-column h1 {
        font-size: 20px;
        text-align: center;
        height: 40px;
    }

    .tabs-grid p {
        width: 420px;
        margin-left: 30px;
    }

    .tabs-text {
        margin-bottom: 80px;
    }

    .tabs-buttons {
        flex-direction: row;
        right: 15%;
    }

    .tabs-rotate {
        margin-left: 20px;
        margin-top: 80px;
    }

    .tabs-images-row {
        margin-left: 10px;
    }

    .tabs-images {
        left: 12%;
        margin-top: 380px;
        flex-direction: column;
    }

    // FEATURES2
    .features2 {
        height: 480px;
        max-width: 100%;
        color: white;
        background: black;
        display: flex;
        flex-grow: 1;
    }

    .features2-icon {
        display: none;
    }

    .features2-column {
        right: 32%;
    }

    .features2-column h2,
    p {
        text-align: center;
    }

    #features2-title {
        width: 500px;
        text-align: center;
    }

    #features2-divider {
        left: 40%;
    }

    // PROCESS
    .process {
        height: 640px;
    }

    .name {
        text-align: center;
        margin-bottom: 0;
    }

    .process-elements {
        margin-top: -40px;
    }

    // PRICING
    .pricing-background {
        height: 1750px;
    }

    .pricing-elements {
        flex-direction: column;
        left: -10%
    }

    .pricing-background header {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .name img {
        left: 34%;
    }

    .pricing-top {
        width: 160%
    }

    .pricing-bottom {
        width: 160%;
    }

    #our_most {
        width: 160%;
    }

    // CUSTOMERS
    .customers {
        height: 540px;
    }

    .customers h1 {
        padding-top: 0;
    }

    .customers-divider {
        margin-top: 60px;
    }

    // CONTACT US
    .contact {
        height: 530px;
    }

    .contact h1 {
        padding-top: 20px
    }

    .contact-form {
        left: 10%;
    }

    // FOOTER
    .footer {
        height: 180px;
    }

    .footer-icons {
        width: 90%;
        left: 4%;
        padding-top: 40px
    }

    #footer-copyright {
        margin-top: 101.5px;
        margin-right: 80px;
        font-size: 20px
    }

    .footer div img {
        padding-left: 20px;
        margin-right: -40px;
        width: 30px;
        height: 30px;
    }

}
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++
// 700PX

@media (max-width:700px) {
    .header img {
        display: none;
    }

    .header nav {
        left: 2%;
        font-size: 18px;
    }

    .header nav p {
        margin-right: 5px;
    }

    .header nav p:hover {
        padding-bottom: 20px;
        border-bottom: $orange 3px solid;
        opacity: 1;
    }

    // FEATURES 
    .features {
        height: 925px;
    }

    .features-tab2 {
        right: 13%;
        bottom: 2%;
    }

    .features-overlay {
        flex-direction: column;
    }
}