// SCROLLBAR
body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: $scroll-bar;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: $scroll-thumb;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid $scroll-bar;
    /* creates padding around scroll thumb */
}

body::-webkit-scrollbar-corner {
    background-color: $scroll-bar;
}