// MIXIN + INCLUDE
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

// KINTAMIEJI
$orange: #E27866;
$green: #41D395;
$blue: #6696E2;
$global-font: 'Montserrat', sans-serif;
$font-header: 14px white 'Montserrat';
$download-button: 2px solid white;
$socials-filter: invert(60%) sepia(33%) saturate(2070%) hue-rotate(321deg) brightness(100%) contrast(78%);
$process-filter: invert(57%) sepia(73%) saturate(743%) hue-rotate(319deg) brightness(97%) contrast(82%);
$process-border: $orange 2px solid;
$pricing-currency: '$';
$customers-profession: #86878B;
$contact-color: white;
$footer-filter: invert(35%) sepia(26%) saturate(1076%) hue-rotate(321deg) brightness(92%) contrast(85%);
$scroll-bar: black;
$scroll-thumb: #6696E2;